.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.features {
  background-color: #848383; /* Default background color */
}

[data-theme='dark'] .features {
  background-color: #444444; /* Lighter background color for dark mode */
}
