:root {
  /* Existing Colors */
  --ifm-color-primary: #37bcf5; /* MeteoScientific Blue */
  --ifm-color-primary-dark: #2e6fa7; /* Darker shade of blue */
  --ifm-color-primary-darker: #265d8a; /* Even darker shade of blue */
  --ifm-color-primary-darkest: #1e4c6d; /* Darkest shade of blue */
  --ifm-color-primary-light: #4ac1f8; /* Lighter shade of blue */
  --ifm-color-primary-lighter: #5bc7fa; /* Even lighter shade of blue */
  --ifm-color-primary-lightest: #6dcefc; /* Lightest shade of blue */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Highlight & Warning Colors */
  --ifm-color-text-light: #f5f5f5; /* Light gray for text and backgrounds */
  --ifm-color-text-dark: #666666; /* Dark gray for text */
  --ifm-color-accent-yellow: #ffcc00; /* Yellow for highlights */
  --ifm-color-accent-orange: #ff5733; /* Orange for warnings or important notes */
  --ifm-color-success: #4caf50; /* Green for success */
  --ifm-color-error: #f44336; /* Red for errors */
}

/* For dark mode */
[data-theme='dark'] {
  /* Existing Colors */
  --ifm-color-primary: #37bcf5; /* MeteoScientific Blue */
  --ifm-color-primary-dark: #2e6fa7; /* Darker shade of blue */
  --ifm-color-primary-darker: #265d8a; /* Even darker shade of blue */
  --ifm-color-primary-darkest: #1e4c6d; /* Darkest shade of blue */
  --ifm-color-primary-light: #4ac1f8; /* Lighter shade of blue */
  --ifm-color-primary-lighter: #5bc7fa; /* Even lighter shade of blue */
  --ifm-color-primary-lightest: #6dcefc; /* Lightest shade of blue */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
 }




